.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 45px;
}

.player-container {
    margin: 100px 0 0 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}